/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  background: #b3e5fc;
  color: #004e64;
  text-align: center;
  line-height: 1.6;
  padding-bottom: 50px;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #004e64;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo {
  color: white;
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #ffcd3c;
}

/* BUTTON */
.ctn {
  background: #ffcd3c;
  color: #004e64;
  padding: 6px 14px;
  border-radius: 20px;
}

/* SECTION GENERAL */
section {
  padding: 40px 20px;
}

.about-text {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.about-text h1 {
  color: #004e64;
  margin: 20px 0;
}

.about-text p {
  font-size: 18px;
  color: #004e64;
  margin-bottom: 15px;
}
.next-container {
  text-align: center;
  margin-top: 40px;
}

.next-btn {
  display: inline-block;
  background: #004e64;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.next-btn:hover {
  background: #ffcd3c;
  color: #004e64;
}